@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

}

.navBg {
  background: #100022;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

html {
  height: --webkit-fill-available;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  height: --webkit-fill-available;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile-glow {
  box-shadow: 0 0 40px -1px #3d2e87;
}


.gradient-top {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, .1) 30%,
    rgba(255, 255, 255, 0.3 ) 50%,
    rgba(255, 255, 255, 0.4) 60%,
    rgb(236, 235, 232, 0.87) 92%,
    rgb(236, 235, 232) 100%
  );
}
